/* That space is mostly due to the 20px width of the RH 'Drag Space'... which disappears when in Fullscreen mode... 
you can vary the width of that Drag Space by adding this user style 
(alter the 'width: 5px' value to suit, a '0' value removes the space entirely): */

.titlebar-spacer[type="post-tabs"] {
  width: 5px !important;
}

/* A smaller part of the "space between the window controls and the right most icons of the navbar" is 
due to the 8px of padding attached to the RH side of the Hamburger/PanelUI/App Menu button... 
that padding width can be varied by adding this user style (alter the 'padding-right: 2px'
 value to suit, a '0' value removes the button's RH padding entirely): */

#PanelUI-menu-button {
  padding-right: 5px !important;
}

/* Depending on your setup... you may also have a LH 'Drag Space' at the far LH end of the Nav Bar 
which is present when Firefox's browser window in not Maximised and not in Fullscreen mode. That LH 
Drag Space's width can be varied/removed with a similar user style: */

.titlebar-spacer[type="pre-tabs"] {
  width: 5px !important;
}
