html:not([privatebrowsingmode="temporary"]) #sidebar-header {
  display: none;
}

#identity-icon-label {
  display: none;
}

#urlbar {
  max-width: 960px !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-box {
  --uc-sidebar-width: 45px;
  --uc-sidebar-hover-width: 360px;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 4 !important;
}

html:not([privatebrowsingmode="temporary"]) #main-window[sizemode="fullscreen"] #sidebar-box {
  --uc-sidebar-width: 1px;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-splitter {
  display: none;
}

html:not([privatebrowsingmode="temporary"]) #sidebar {
  min-width: var(--uc-sidebar-width) !important;
}

html:not([privatebrowsingmode="temporary"]) #sidebar-box:hover > #sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
}

html:not([privatebrowsingmode="temporary"]) .sidebar-panel {
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important; 
}